[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/tinyxml2"]
	path = src/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "src/SDL"]
	path = src/SDL
	url = https://github.com/libsdl-org/SDL.git
